body {
    font-family: "Red Hat Text", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

main {
    padding: 30px 50px;
    font-size: 16px;
    background-color: hsl(20, 50%, 98%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
}

aside {
    padding: 5px;
    grid-column: 4/-1;
}

h1 {
    font-size: xx-large;
    padding-bottom: 10px;
    font-weight: 700;
    grid-column: 1/-1;
}

article {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 5px;
}

section {
    position: relative;
    background-color: inherit;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

section img:first-child {
    box-sizing: border-box;
}

.name-list {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

li {
    list-style: none;
}

.name-list li:nth-child(2) {
    color: hsl(7deg 19.82% 62.88%);
    order: -1;
    font-size: 0.9em;
}

.name-list li:first-child {
    font-weight: 600;
}

.name-list li:last-child {
    color: #C73B0F;
}

.name-list li:last-child::before {
    content: "$";
}

.add-to-cart {
    cursor: pointer;
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 90px;
    right: 74px;
    border: 1px solid gray;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 0.8em;
    border-radius: 30px;
    background-color: white;
    justify-content: space-around;
    min-width: 40%;
    min-height: 6%;
}

.add-to-cart .cart-icon {
    transform: scale(0.8);
}


.cart-details {
    background-color: white;
    padding: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
}

.cart-details .onlyIfEmpty p {
    text-align: center;
}

.emptyIllustration {
    width: 40%;
    margin: auto auto;
}

h2 {
    color: #C73B0F;
}

.plus,
.minus {
    border: 1px solid white;
    padding: 5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.unselectable {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version */
}

.onlyIfEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ifOrderExist {
    display: flex;
    flex-direction: column;
}

.ordersInfo {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.singleOrderInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgb(218, 210, 210);
}

.dishInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dishName {
    font-weight: 600;
}

.rateInfo {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.totalInfo {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.deliveryInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: hsl(0, 45%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.confirmOrderButton {
    padding: 20px 0;
    width: 100%;
    background-color: #C73B0F;
    text-align: center;
    border-radius: 50px;
    margin: 20px 0;
    color: white;
}

.confirmOrderButton:active {
    background-color: #952c0c;
}

.noOfItems {
    color: #C73B0F;
}

.noOfItems::after {
    content: 'x';
}

.ratePerItem {
    color: rgb(59, 59, 59);
}

.ratePerItem::before {
    content: '@$';
}

.totalRateOfDish::before {
    content: '$';
}

.totalRateOfDish {
    font-weight: 400;
}

.cancelButton {
    border: 1px solid #CAAFA7;
    padding: 5px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.totalRate {
    font-weight: 900;
    font-size: 2rem;
}

.totalRate::before {
    content: '$';
}

.orderConfirmedBanner {
    position: absolute;
    top: 37vh;
    left: 30vw;
    background-color: white;
    z-index: 999;
    min-width: 30vw;
    padding: 30px;
}
.orderConfirmedBanner h2 {
    color: black;
}

.orderConfirmedBanner h4 {
    opacity: 0.3;
}

.orderConfirmedBanner .ordersInfo {
    background-color: hsl(0, 45%, 98%);
    border-radius: 15px 15px 0 0;
    padding: 0 30px;
    margin-bottom: 0;
}

.orderConfirmedBanner .totalInfo {
    margin-top: 0;
    background-color: hsl(0, 45%, 98%);
    padding: 25px;
    border-radius: 0 0 15px 15px;
}

.orderConfirmedBanner .ordersInfo .dishImg {
    height: 50px;
    width: 50px;
}

.dishImg img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.orderConfirmedBanner .ordersInfo .totalRateOfDish {
    font-size: 1.3rem;
    font-weight: 500;
}

.orderConfirmedBanner .basicDishInfo {
    margin-right: auto;
    margin-left: 10px;
}

.basicDishInfo .rateInfo {
    justify-content: flex-start;
    gap: 20px;
}

@media (width<=640px) {
   *{
    -webkit-tap-highlight-color: transparent;
    /* For non-WebKit browsers */
    outline: none;
}
    main{
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items:center;
    }
    article {
        grid-column: 1/4;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 5px;
        flex-direction: column;
      }
      .add-to-cart{
        bottom: 90px;
        justify-content: space-evenly;
      }
      .orderConfirmedBanner {
        min-height: 80vh;
        position: sticky;
        transform: none;
        top: 20vh;
        left: auto;
        bottom: -100vh;
        background-color: white;
        z-index: 999;
        width: 90vw;
        padding: 0 0 20px 0;
        margin: 0 auto;
        transition: bottom 0.3s ease-in-out; /* Smooth transition for 'bottom' property */
    }
    
    /* Show the banner when it's active */
    .orderConfirmedBanner.active {
      bottom: 0; /* Bring the banner up to its final position */
    }
   .orderConfirmedBanner .confirmOrderButton{
    margin-bottom: 20px;
   }
}